.seat__main-container {
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 250px;
}

.seat__main-title {
    text-align: center;
}

.seat__input-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.seat__dropdown-container {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seat__err-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.seat__button-cancel {
    background-color: darkgray;
    border: solid 1px darkgray;
    height: 40px;
    display: flex;
}

.seat__button-cancel:hover {
    border: solid 1px grey;
    background-color: grey;
}

.seat__button-submit {
    height: 40px;
    display: flex;
}